<h1 class="ui header aligned center">Editing target</h1>
<div class="edit_form">
  <%= render 'form' %>
  <div class="ui right floated widget">
    <%= link_to 'Show', @target %> |
    <%= link_to 'Back', targets_path %>
  </div>
</div>
