/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a {
    color: #428bca;
    text-decoration: none;
}
a:active,
a:hover {
    outline: 0;
}
a:hover,
a:focus {
    color: #2a6496;
}
body {
    background-color: #fff;
    color: #333;
    font-family: "Open Sans", verdana, arial, "Heiti SC", helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul, td {
    font-family: "Open Sans", verdana, arial, "Heiti SC", helvetica, sans-serif;
    font-size: 13px;
}

/*
this element will default to floating left if any float is specified
it will receive margins on its float relative to its size
*/
.ui.floated.widget,
.ui.left.floated.widget {
  float: left;
  margin-right: 1em;
}
.ui.right.floated.widget {
  float: right;
  margin-left: 1em;
}
/* this will not receive margins when floated and will default to floating right */
.ui.floated.thingy,
.ui.right.floated.thingy {
  float: right;
}
.ui.right.floated.thingy {
  float: left;
}

.ui.half {
  width: 50%;
}

@import 'semantic-ui';
