$iPhone3GS: "320px";
$NexusS: "480px";
$iPhone: "640px";
$iPhone4: $iPhone; $iPhone5: $iPhone;
$SonyXperiaS: "720px";
$Xiaomi: $SonyXperiaS; $SonyXperiaIon: $SonyXperiaS;
$Nexus4: "768px";
$iPadMini: "1024px";
$iPad1: $iPadMini; $iPad2: $iPadMini;
$Nexus5: "1080px";
$Nexus7: "1280px";
$KindleFire7: $Nexus7;
$Nexus72: "1920px";
$KindleFire8: $Nexus72; $KindleFire9: $Nexus72;
$iPad4: "2048px";
$iPad: $iPad4; $iPad3: $iPad4;
$Nexus10: "2560px";

$gray: #999999;

/* header */
header.ui.inverted.menu{
  border-radius: 0px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      color: $gray;
    }
  }
}

/* Common */
.center {
  margin: 0 auto;
}


/* custom */
.new_form {
  width: 50%;
  margin: 0 auto;
}


.main-container {
  width: 78%;
  margin: 0 auto;
  @media only screen and (max-device-width: #{$NexusS}) { // 480px
  }
  @media only screen and (min-device-width: #{$NexusS}) and (max-device-width: #{$Nexus4}) { // 480px ~ 768px
  }
  @media only screen and (min-device-width: #{$Nexus4}) and (max-device-width: #{$Nexus7}) { // 768px ~ 1280px
  }
  @media only screen and (min-device-width: #{$Nexus7}) and (max-device-width: #{$Nexus10}) { // 640px
  }
}
