$NexusS: "only screen and (max-width : 480px)";
$iPhone: "only screen and (max-width : 640px)";
$Nexus4: "only screen and (max-width : 768px)";
$iPadMini: "only screen and (max-width : 1024px)";
$iPad1: $iPadMini;
$Nexus5: "only screen and (max-width : 1080px)";
$Nexus7: "only screen and (max-width : 1280px)";
$Nexus72: "only screen and (max-width : 1920px)";
$iPad: "only screen and (max-width : 2048px)";

.profile-pic {
  width: 250px;
  @media #{$NexusS} {
  }
  @media #{$iPhone} {
  }
  @media #{$Nexus4} {
  }
  @media #{$iPad1} {
    width: 1000px;
  }
  @media #{$Nexus5} {
  }
  @media #{$Nexus7} {
  }
  @media #{$Nexus72} {
  }
  @media #{$iPad} {
  }
}
