<footer id="footer">
    <nav class="text-muted credit clearfix">
        <ul>
            <li>Copyright &copy; <%= DateTime.now.year %> by Buzhai.</li>
            <li>All Rights Reserved.</li>
        </ul>
    </nav>
</footer>
