<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Home", "static#home", :class => "navbar-brand" %>
      </div>
      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-left">
          <li><%= link_to "Targets", targets_path %></li>
          <li><%= link_to "Activities", activities_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
